.hangup {
    &-dialog {
        align-items: center;
        color: black;
        line-height: 24px;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        &.end-for-all {
            padding: 5px 60px;
            align-items: baseline;
            font-size: 17px;
            color: white;
            background-color: #800000;
            border: none;
            border-radius: 8px;
            justify-content: space-evenly;
            font-weight: bold;
        }

        &.leave-class {
            padding: 5px 60px;
            align-items: normal;
            display: flex;
            justify-content: space-evenly;
            margin-top: 8px;
            font-size: 17px;
            color: white;
            background-color: #62666b;
            border: none;
            border-radius: 10px;
            font-weight: bold;
        }
    }
}
